<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Builder</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Weapons</ion-label>
    <ion-select (ionChange)="weaponSelected(event)" multiple="false" id="selectWeapon" [(ngModel)]="weaponData">
      <ion-option *ngFor="let item of weaponsList; let i = index" [value] = item.name (ionSelect)="indexWeapon = i"> {{ item.name }}</ion-option>
    </ion-select>
  </ion-item>

  <button (click)="resetWeapon()">Clear</button>

  <ion-item>
    <ion-label>Stats</ion-label>
  </ion-item>

  <ion-item>
   Remaining Points : {{ count }}
  </ion-item>

  <br/>
  <ion-item>
    <ion-label>Mods</ion-label>
  </ion-item>

  <ion-item>
    <ion-select (ionChange)="modSelected(event,0)" multiple="false" [placeholder]="polarityList[0]" [(ngModel)]="modDataTable[0]">
      <ion-option *ngFor="let item of modsList; let i = index" [value] = item.Name (ionSelect)="indexMod = i"> {{ item.Name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select (ionChange)="modSelected(event,1)" multiple="false" [placeholder]="polarityList[1]"[(ngModel)]="modDataTable[1]">
      <ion-option *ngFor="let item of modsList; let i = index" [value] = item.Name (ionSelect)="indexMod = i"> {{ item.Name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select (ionChange)="modSelected(event,2)" multiple="false" [placeholder]="polarityList[2]" [(ngModel)]="modDataTable[2]">
      <ion-option *ngFor="let item of modsList; let i = index" [value] = item.Name (ionSelect)="indexMod = i"> {{ item.Name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select (ionChange)="modSelected(event,3)" multiple="false" [placeholder]="polarityList[3]" [(ngModel)]="modDataTable[3]">
      <ion-option *ngFor="let item of modsList; let i = index" [value] = item.Name (ionSelect)="indexMod = i"> {{ item.Name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select (ionChange)="modSelected(event,4)" multiple="false" [placeholder]="polarityList[4]" [(ngModel)]="modDataTable[4]">
      <ion-option *ngFor="let item of modsList; let i = index" [value] = item.Name (ionSelect)="indexMod = i"> {{ item.Name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select (ionChange)="modSelected(event,5)" multiple="false" [placeholder]="polarityList[5]" [(ngModel)]="modDataTable[5]">
      <ion-option *ngFor="let item of modsList; let i = index" [value] = item.Name (ionSelect)="indexMod = i"> {{ item.Name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select (ionChange)="modSelected(event,6)" multiple="false" [placeholder]="polarityList[6]" [(ngModel)]="modDataTable[6]">
      <ion-option *ngFor="let item of modsList; let i = index" [value] = item.Name (ionSelect)="indexMod = i"> {{ item.Name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select (ionChange)="modSelected(event,7)" multiple="false" [placeholder]="polarityList[7]" [(ngModel)]="modDataTable[7]">
      <ion-option *ngFor="let item of modsList; let i = index" [value] = item.Name (ionSelect)="indexMod = i"> {{ item.Name }}</ion-option>
    </ion-select>
  </ion-item>

</ion-content>
