#rifle-details-header{
  ion-title{
    text-transform: capitalize;
  }
}

#rifle-details{
  .card{
    margin-bottom: 1em;
    border-radius: 20px 0 10px 10px;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    border-width: 1.5px;

    .card-img-top{
      border-radius: 20px 0 0 0;
    }
  }

  h1{
    text-transform: capitalize;
    text-align: center;
  }

  .polarities{
    text-align: center;
  }
}
