<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{mod.Name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img src="../../assets/imgs/mods/{{mod.Name.replace('Primed ', '').replace(' ', '_').replace(' ', '_') | lowercase}}.jpeg"/>

  <div id="stats_arme">

    <div class="typediv">
      Type : {{ mod.Type }}
    </div>

    <div class="polaritydiv">
      Polarity : {{ mod.Polarity }}
    </div>

    <br/>

    <table style="width:100%">
      <tr>
        <th *ngFor="let stat of mod.Stats">{{ stat }}</th>
      </tr>
      <tr *ngFor="let modDetail of mod.Mod">
        <td *ngFor="let modStatName of mod.Stats">{{ modDetail[modStatName] }}</td>
      </tr>
    </table>

  </div>

</ion-content>
