<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rifles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="container" *ngIf="weaponsList">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let rifle of weaponsList">
        <div class="card">
          <div class="rifle-link" (click)="openRiflePage(rifle)">
            <img class="card-img-top" src="../../assets/imgs/weapons/{{rifle.name | lowercase}}.png"/>
            <div class="card-body">
              <p>{{rifle.name.replace('_', ' ') | lowercase}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
