page-rifles{
  .rifle-link{
    cursor: pointer;
    text-align: center;
  }
  .card{
    margin-bottom: 1em;
    border-radius: 10px 0 10px 10px;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    border-width: 1.5px;
    overflow: hidden;

    .card-body{
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  p{
    text-transform: capitalize;
    font-size: 1.5em;
  }

  .card:hover, .card:focus, .card:active{
    border-width: 1px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
}
